*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;


}

header{
  background-image: url(e1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

header::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
  opacity: 0.6;

  background-image: linear-gradient(rgba(0,168, 255,0.6), rgba(0,168, 255));
  
}

svg{
	width: 230px;
	height: 230px;
}

.footerpart{
  background: linear-gradient(#00BE96,#00BEFF);
  color: white;
  padding:20px 0px;

}


.footerpart1{
  background: linear-gradient(#00BE96,#00BEFF);
  color: white;

}

.footerpart1{
  display: none;
}

.submitclick{

  padding: 3px 25px;
  margin: 10px 20px;
  background: linear-gradient(to left,#00BE96,#00BEFF);
  border: none;
  font-size: 25px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}


.breathing{

	transition: transform 0.5s;
	/*transform: translateY(0px);*/
	
	/*transform: translateY(-50px);*/ 

	box-shadow: 0 0 0 white;
	animation-name: sample;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 5;
	animation-direction: alternate;

}

@keyframes sample{
	0%{ box-shadow: 0 0 0 white; }
	100%{ box-shadow: 4px 4px 4px grey; }
}


/* SVG */

.c1{
      width: 100%;
      max-height: 300px;
      background-image:linear-gradient(rgba(0,168,255,0.4), rgba(0,168,255,0.4)), url(../images/VRD_Image.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

    }

    
.first:hover{
      transition: transform 2s;
      transform: ;
      animation-name: sample;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes sample{
      0%{stroke: black; stroke-opacity:0; stroke-width:1px;}
      20%{stroke: black; stroke-opacity:0.1; stroke-width:1.5px;}
      40%{stroke: black; stroke-opacity:0.2; stroke-width:2px;}
      60%{stroke: black; stroke-opacity:0.2; stroke-width:2px;}
      80%{stroke: black; stroke-opacity:0.1; stroke-width:1.5px;}
      100%{stroke: black; stroke-opacity:0; stroke-width:1px;}
    }

    .second{
      transition: transform 2s;
      transform: ;
      animation-name: samples;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }


    @keyframes samples{
      0%{stroke: black; stroke-opacity:0; stroke-width:3px;}
      20%{stroke: black; stroke-opacity:0.1; stroke-width:4px;}
      40%{stroke: black; stroke-opacity:0.2; stroke-width:5px;}
      60%{stroke: black; stroke-opacity:0.2; stroke-width:5px;}
      80%{stroke: black; stroke-opacity:0.1; stroke-width:4px;}
      100%{stroke: black; stroke-opacity:0; stroke-width:3px;}
    }


svg{
  width: 100%;
  height: auto;
}

.size{
  font-size: 15px;
  color: #fff;
  padding-left: 10px;
}

.size1{
  font-size: 15px;
}


.fontawesomecolor{
  color: #fff;
  padding-right: 10px;

}

/*  ************************************** media query  **********************************/

@media only screen and (max-width: 576px){
  .footerpart{
    display: none;
  }
  .footerpart1{
    display: block;
  }
  .size{
    font-size: 12px;
  }
  .fontawesomecolor{
    margin-bottom: 10px;
    margin-top: 10px;
  }

}
@media only screen and (min-width: 576px){
    .footerpart{
    display: block;
  }

  .footerpart1{
    display: none;
  }





}

@media only screen and (min-width: 1140px){
  



}



/* SvgMobile */

.svgmobile{
      display: none;
    }


    @media only screen and (max-width: 576px){


      .svgmobile{
        display: block;
      }

      .svgdesktop{
        display: none;
      }
      
    }




